#azul
{
    height: 200px;
    
}


#azul2
{
    height: 200px;
    margin-top: -1%;
}

#amarillo
{
    margin-top: -1%;
}

#verde 
{
    margin-top: -1%;
}
#azul3
{
    margin-top: -1%;
}

#azul4
{
    margin-top: -1%;
    height: 230px;
}

